<div class="">
    <%=image_tag @user.avatar, class"avatar"%>
</div>
<div class="">
    <%=@user.nickname%>
    <% if user_signed_in?%>
       <% current_user.following?(@user)%>
       <%else%>
    <%=render 'follow' , {relationship: @relationship}%>
    <br>
        <%=@user.profile%>
</div>